{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<h3>Store</h3>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="card-body text-center">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <h4><strong>${{product.price|floatformat:2}}</strong></h4>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'checkout' %}">View</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}